.nav-container {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  .nav-a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;

    &:hover {
      color: $primarycColor;
      background-color: $whiteColor;
    }
  }
  @include tablet_responsive {
    flex-direction: column;
    align-items: center;
  }
}
.div_hero {
  background-image: url(./img/pokemon_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  border-radius: 16rem;
  margin-bottom: 60px;
  @include tablet_responsive {
    background-image: url(./img/img_pokemon.jpg);
    width: 100%;
  }
}
